.DeckVerifiedModalDialog .DialogContent,
.DeckVerifiedModalDialogClient .DialogContent,
.GamepadMode.friendlist,
.basicappdetailssectionstyler_AppDetailsRoot_3fp5y,
.gamepadhome_TabbedContent_cE1Sa,
.quickaccessmenu_QuickAccessMenu_V0cr-,
.quickaccessmenu_Title_34nl5 {
  display: none;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  left: 10000px;
  top: 10000px;
}
