.gamepadhomerecentgames_RecentGamesBackgroundImage_3Mp8R.gamepadhomerecentgames_MoveLeft_30M_n:not(.gamepadhomerecentgames_OffScreen_Yk-I2) {
animation-name:gamepadhomerecentgames_InLeft_22nzP;
opacity:5
}

.gamepadhomerecentgames_RecentGamesBackgroundImage_3Mp8R.gamepadhomerecentgames_MoveRight_3dyds:not(.gamepadhomerecentgames_OffScreen_Yk-I2) {
animation-name:gamepadhomerecentgames_InRight_1HKCB;
opacity:5
}
.gamepadhomerecentgames_RecentGamesBackgroundImage_3Mp8R {
animation-duration:.05s;
animation-fill-mode:backwards;
animation-timing-function:cubic-bezier(.17,.45,.14,.83);
height:100%;
object-fit:cover;
opacity:5;
transition-duration:.05s;
transition-property:transform,opacity;
transition-timing-function:cubic-bezier(.17,.45,.14,.83);
width:100%;
will-change:transform,opacity
}