.gamepadhomerecentgames_RecentGamesBackground_1SRox {
    opacity: 1!important;
    filter: none!important
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt, .gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 {
    -webkit-mask-image: none!important;
}