:root {
  --fate-extra-font-1: "Fira Sans Condensed";
  --fate-extra-font-2: "Times Newer Roman";
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("/themes_custom/Fate Extra/fonts/firasanscondensed-book.otf");
}

@font-face {
  font-family: "Times Newer Roman";
  src: url("/themes_custom/Fate Extra/fonts/TimesNewerRoman-Regular.otf");
}

* {
  font-family: var(--fate-extra-font-1) !important;
}
