:root {
	--fate-extra-background-image: url("https://i.imgur.com/M44Hl5h.jpg");
	--fate-extra-colour: #355c9cad !important;
	--fate-extra-colour-solid: #174da4 !important;
	--fate-extra-text-colour: #EDF2F3 !important;
	--fate-extra-highlight-colour: #71b8ff49 !important;
	--fate-extra-theme-light-text-colour: #AFD8F2 !important;
	--fate-extra-dark-highlight-colour: #1F3541 !important;
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt {
	position: absolute;
	top: 0vh;
	bottom: 0vh;
	height: 100vh;
	background-image: var(--fate-extra-background-image);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}

.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq,
.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt>* {
	display: none !important;
}

.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
	background: none;
}

.gpfocuswithin>.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W,
:hover~.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
	font-family: var(--fate-extra-font-2) !important;
}

.basicgamecarousel_SubMessage_1BtXg,
.marquee_Content_2ADpT {
	font-family: var(--fate-extra-font-2) !important;
	text-shadow: -1px 1px 2px var(--fate-extra-colour-solid),
		1px 1px 2px var(--fate-extra-colour-solid),
		1px -1px 0 var(--fate-extra-colour-solid),
		-1px -1px 0 var(--fate-extra-colour-solid);
	color: white;
}

.gamepadui_BasicHome_3LYP1.gamepadui_OpaqueBackground_b084m {
	background: var(--fate-extra-colour);
}

.gamepadhome_TabbedContent_cE1Sa,
.gamepadlibrary_GamepadLibrary_ZBBhe,
.steamdeckcompatfilter_CompatFilterDialog_21qvB,
.allcollections_Collection_3IWn- {
	background: var(--fate-extra-colour) !important;
}

.BasicUI .appportrait_PortraitMessage_3gwMk .appportrait_SubMessage_3DR9f {
	font-family: var(--fate-extra-font-2) !important;
	color: white;
}
