:root {
--arthero-colour:  #1F3541!important;
--arthero-text-colour: #EDF2F3!important;
--arthero-highlight-colour: #5289B5!important;
--arthero-theme-light-text-colour: #AFD8F2!important;
--arthero-dark-highlight-colour: #1F3541!important;
}