.footer_BasicFooter_3T1iF {
    backdrop-filter: none!important;
	filter: none!important;
}

.footer_BasicFooter_3T1iF {
	min-height: 15px;
	height: 15px;
}

.footericons_SizeMedium_3-w0R,
.actionbuttonlegenditem_FooterGlyphSize_223Oc {
	height: 13px;
}

.actionbuttonlegenditem_ActionButtonLabel_31Jnn {
	font-size: 10px!important;
}

._12wgofPV3GgsAWFUJhpSz2 {
    height: 10px;
}
