:root {
--arthero-colour: #08313A!important;
--arthero-text-colour: #5CD85A!important;
--arthero-highlight-colour: #1A5653!important;
--arthero-theme-light-text-colour: #1A5653!important;
--arthero-dark-highlight-colour: #107869!important;
}