:root {
--arthero-colour: #645097    !important;
--arthero-text-colour: #000029!important;
--arthero-highlight-colour: #362a54!important;
--arthero-theme-light-text-colour: #9682c9!important;
--arthero-dark-highlight-colour: #1B1734!important;
}