.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt,
.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) calc(100% - 5px));
    -webkit-mask-composite: source-out;
}

mes_RecentGamesBackgroundImage_3Mp8R {
    opacity: 1;
    filter: brightness(100%)!important;
}
.gamepadhomerecentgames_RecentGamesBackground_1SRox {
    opacity: 1!important;
    filter: none!important
}