:root {
--arthero-colour:  #FF9900 !important;
--arthero-text-colour: #000000!important;
--arthero-highlight-colour: #482f00!important;
--arthero-theme-light-text-colour: #FFB733!important;
--arthero-dark-highlight-colour: #1A1100!important;
}