:root {
--arthero-colour: #534582    !important;
--arthero-text-colour: #ffffff!important;
--arthero-highlight-colour: #846DCF!important;
--arthero-theme-light-text-colour: #4b3b76!important;
--arthero-dark-highlight-colour: #d0bfff!important;
}