:root {
--arthero-colour: #990000!important;
--arthero-text-colour: #ffffff!important;
--arthero-highlight-colour: #6b0000!important;
--arthero-theme-light-text-colour: #ffbfbf!important;
--arthero-dark-highlight-colour: #ffbfbf!important;
}