.footer_BasicFooter_3T1iF {
    backdrop-filter: none!important;
	filter: none!important;
}

.footer_BasicFooter_3T1iF {
	min-height: 15px;
	height: 15px;
}

.footericons_SizeMedium_3-w0R,
.actionbuttonlegenditem_FooterGlyphSize_223Oc {
	height: 13px;
}

.actionbuttonlegenditem_ActionButtonLabel_31Jnn {
	font-size: 10px!important;
}

.gpfocuswithin>.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W, :hover~.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W, .basicgamecarousel_CarouselGameLabelWrapper_ZkD6W.basicgamecarousel_ShowAsHovered_3tdVJ {
    transform: translateY(-0.2em);
    transition-delay: .4s;
    visibility: visible;
}

.gpfocuswithin~.basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf,:hover~.basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
    opacity: 1!important
}

.BasicUI .appportrait_PortraitMessage_3gwMk .appportrait_Message_3CRLA {
    font-size: 18px;
    line-height: 23px;
}

.basicgamecarousel_BasicGameCarousel_3MdH5 {
    top: -1em;
    height: 100vh!important;
}

.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
    margin-top: 0vh;
    padding-top: 0
}

.gamepadhomerecentgames_RecentGamesBackgroundImage_3Mp8R {
    opacity: 1;
    filter: brightness(100%)!important;
}
.gamepadhomerecentgames_RecentGamesBackground_1SRox {
    opacity: 1!important;
    filter: none!important
}

.gamepadhome_RecentSection_39tNv {
    padding: 0px;
    height: 105vh;
}

.gamepadhomerecentgames_RecentGamesHeader_35iRe {
    display: none!important
}

.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 .gamepadhomerecentgames_RecentGamesBackground_1SRox {
    height: 50vh!important;
    left: 0!important;
    max-height: 50vh!important;
    min-height: 100%!important;
    min-width: 100vw!important;
    position: absolute;
    top: 0;
    width: 100vw!important;
    --round-radius-size: 0!important
}

.gamepadhomerecentgames_RecentGamesInnerContainer_282X0 {
    top: 50vh!important
}

.gamepadhomerecentgames_RecentGamesContainer_2_cRk {
    margin-top: -1vh;
}

.basicgamecarousel_BasicGameCarouselItem_3YYQ9 .basicgamecarousel_TextBoxCarouselContents_3bvCH {
    top: 0em!important;
}