:root {
--arthero-colour:   #36383F  !important;
--arthero-text-colour: #C0C2C9!important;
--arthero-highlight-colour: #8F929F!important;
--arthero-theme-light-text-colour: #4B4E58!important;
--arthero-dark-highlight-colour: #4B4E58!important;
}