.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 .gamepadhomerecentgames_RecentGamesBackground_1SRox {
height:50vh!important;
left:0!important;
max-height:50vh!important;
min-height:100%!important;
min-width:100vw!important;
position:absolute;
top:0;
width:100vw!important;
--round-radius-size:0!important
}

.gamepadhomerecentgames_RecentGamesInnerContainer_282X0 {
height:50vh;
top:50vh!important
}