.gpfocuswithin>.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W, :hover~.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
    top: -3.4em;
    position: absolute!important;
    
}

.basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN {
    bottom: -2.5em;
    position: absolute!important;
}