:root {
--arthero-colour: #C0C0C0!important;
--arthero-text-colour: #868686!important;
--arthero-highlight-colour: #424242!important;
--arthero-theme-light-text-colour: #c0c0c0!important;
--arthero-dark-highlight-colour: #ffffff!important;
}