.basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN {
    bottom: -3.5em!important;
    position: absolute!important;
}
.gamepadhomerecentgames_RecentGamesInnerContainer_282X0 {
    height: 55vh;
}
