:root {
--arthero-colour: #bb9c21!important;
--arthero-text-colour: rgb(0, 0, 0)!important;
--arthero-highlight-colour: rgb(117, 92, 11)!important;
--arthero-theme-light-text-colour: rgb(235, 213, 117)!important;
--arthero-dark-highlight-colour: rgb(255, 196, 0)!important;
}